/* styles.css */
/* Disable text scaling */

/* Change the background color of the entire app */
body {
    background-color: #f0f0f0; /* Change this color to your desired background color */
}

/* Style for Dash cards */
.card {
    background-color: #fff; /* Change this color to your desired card background color */
    border: 1px solid #ddd; /* Add a border if desired */
    border-radius: 5px; /* Add rounded corners if desired */
    padding: 15px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}


/* Add more styles as needed */

/* Example: Change text color inside cards */
.card-text {
    color: #333; /* Change this color to your desired text color */
}